<article>
   <h2> {{title}} </h2>

   <div id="iconsDiv">
      {{!-- {{# if logged}} --}}
      <img class="icons gear" src="./images/gear.svg">
      <img class="icons trash" src="./images/trash.svg">
      {{!-- {{/if}} --}}
   </div>
   <div>
      {{#each imagePaths}}
      <img class="picture" src="./uploads/images/{{this}}">
      {{/each}}
      <p> {{content}} </p>
   </div>
</article>

