<form method="POST">
   <div>
      <label for="title"> Titre : </label>
      <input type="text" name="title" placeholder="Titre">
   </div>
   <div>
      <label for="content"> Contenu : </label>
      <textarea placeholder="Contenu de l'article ..." name="content"  rows="5" cols="33"></textarea>   
   </div>
   <div>
      <label class="fileUpload">
         <input type="file" name="image" accept=".gif,.jpg,.jpeg,.png,.svg,.webp" multiple />
         Image
      </label>
   </div>

   <input type="submit" value="Créer article">
</form>
<p id="articleCreationFeedback"></p>
