<article>
   <h2> Titre 1 </h2>
   <div id="iconsDiv">
      {{!-- {{# if logged}} --}}
      <img class="icons gear" src="./images/gear.svg">
      <img class="icons trash" src="./images/trash.svg">
      {{!-- {{/if}} --}}
   </div>
   <div>
      <img class="picture" src="https://picsum.photos/400/200">
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
      </p>
   </div>
</article>
