<footer>
   <nav>
      <ul>
         {{#if logged}}
         <li> <a href="/logout"> Deconnexion </a> </li>
         {{else}}
         <li> <a href="/login"> Connexion </a> </li>
         {{/if}}

         <li> <a href="/legal"> Mentions légales </a> </li>
      </ul>
      <a id="facebookIcon" href="https://www.facebook.com/Mairie-Rouffiac-dAude-officiel-105064444599850/"> <img src="images/facebook.svg" alt="facebook icon"/></a>
   </nav>
</footer>