<header>
   <nav>
      <img src="images/blason.svg" alt="blason" id="navBlason"/>
      <ul>
         <li> <a href="/"> Acceuil </a> </li>
         <li> <a href="/activities"> Activités </a> </li>
         <li> <a href="/calendar"> Calendrier </a> </li>
         <li> <a href="/documents"> Documents </a> </li>
      </ul>
   </nav>
</header>