<header>
   <nav>
   <img src="images/mainTitle.svg" alt="blason"/>
      <ul>
         <div id="leftMenu">
            <li> <a href="/"> Au <span class="weightedText">quotidien </span> </a> </li>
            <li> <a href="/calendar"> Agenda et <span class="weightedText">activités</span>  </a> </li>
         </div>
         <div id="rightMenu">
            <li> <a href="/procedures"> Vos <span class="weightedText"> démarches</span> </a> </li>
            <li> <a href="/about"> La <span class="weightedText">municipalité</span>  </a> </li>
         </div>
      </ul>
   </nav>
</header>
