<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Site officiel de la commune de Rouffiac d'Aude (11325), consultez les actualités et le évenements de la commune !">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Sen&display=swap" rel="stylesheet">

   <link rel="icon" href="/images/blason.svg" type="image/svg+xml">

   <link rel="stylesheet" href="styles/main.css">
   <link rel="stylesheet" href="styles/{{ page }}.css">
   <script type="module" src="scripts/{{ page }}.js" defer ></script>
   <title> {{ title }} </title>
</head>
<body>
   {{> header }}

   {{{ body }}}

   {{> footer }}
</body>
</html>