<link rel="stylesheet" href="scripts/node_modules/fullcalendar/main.css">

<main>
   <h2 id="pageTitle"> Agenda </h2>
   <div id="calendar"></div>

   {{# if logged}} 
      {{> adminSectionEvents}}
   {{/if}}
</main>