<main>
   <h2> Titre 1</h2>
   <img src="https://picsum.photos/400/200">
   <article>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
   </article>
   <hr>
   <h2> Titre 2</h2>
   <article>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aspernatur vero magnam nobis, cumque amet fugiat repellendus enim laboriosam, libero mollitia architecto nemo ratione laudantium excepturi corrupti. Dolores, totam aliquam!
   </article>
</main>