<main>
   <section>
      {{#each data}}
      {{> article}}
      <hr>
      {{/each}}
   </section>
   {{!-- {{# if logged}} --}}
   <section id="adminSection">
      {{> articleForm}}
   </section>
   {{!-- {{/ if}} --}}
</main>