<main>
   <link rel="stylesheet" href="scripts/node_modules/@splidejs/splide/dist/css/splide.min.css">

   <section>
      <h2> Actualités </h2>
      <hr class="bigHr">
      {{> articlesSlides}}
      <a id="seeMore" href="/actualites"> Voir plus ...</a>
   </section>

   <section id="infoSection">
      <header>
         <h2> Accès & Informations </h2>
         {{#if logged}}
            <img class="icons gear" src="./images/gear.svg">
         {{/if}}
      </header>
      <hr class="bigHr">
      {{> mapAndHours}}
   </section>

   {{# if logged}}
      {{> adminSectionArticles}}
   {{/ if}}
</main>