<main>
   <section>
      {{> article}}
      <hr>
      {{> article}}
      <hr>
      {{> article}}
   </section>
   {{!-- {{# if logged}} --}}
   <section id="adminSection">
      {{> articleForm}}
   </section>
   {{!-- {{/ if}} --}}
</main>