<main>
   <link rel="stylesheet" href="scripts/node_modules/@splidejs/splide/dist/css/splide.min.css">

   {{#if dataExist}}
   <section>
      <h2> Actualités </h2>
      <hr class="bigHr">
      {{> articlesSlides}}
      <a id="seeMore" href="/actualites"> Voir plus ...</a>
   </section>
   {{/if}}

   <section>
      <h2> Accès & Horaires de la Mairie </h2>
      <hr class="bigHr">
      {{> mapAndHours}}
   </section>

   {{# if logged}}
      {{> adminSectionArticles}}
   {{/ if}}
</main>