@use "./config/colors";
@use "./config/mixin";

body > footer {
   @include mixin.flex(column, center, center);

   z-index: 5;
   margin-top:auto; 
   width: 100%;
   height: 60px;
   background-color: colors.get(white);
   border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
   
   ul {
      list-style: none;
   }
}   

body > footer > nav {
   a {
      color: colors.get(black);
   }
   ul {
      @include mixin.flex(row, center, center);
      li a {
         margin: 15px;
         padding: 10px;
      }
      li a:hover {
         background-color: colors.get(primary);
         color: colors.get(black);
      } 
   }
   #facebookIcon {
      height: 40px;
      img {
         height: inherit;
      }
   }
}