@use "./config/colors";
@use "./config/mixin";

form {
   @include mixin.flex(column, center, center);
   background-color: colors.get(primary3);
   padding: 15px;

   div {
      @include mixin.flex(column, center, center);
      margin: 0px 0px 10px 0px;
   }
   input[type=text], textarea{
      outline: none;
      border: none;
   }
   textarea {
      width: 400px;
      height: 250px;
      padding: 5px;
   }
}

#articleCreationFeedback {
   margin-top: 5px;
   font-size: 1.4rem;
}
input {
   padding: 8px;
}
.fileUpload,input[type=button], input[type=submit], button {
   cursor: pointer;
   padding: 8px;
   font-size: 1.1rem;
   
   background: colors.get(white);
   border: none;
   transition: background 0.2s, color 0.2s;
}
.fileUpload:hover, input[type=button]:hover, input[type=submit]:hover, button:hover {
   background: colors.get(green);
   color: colors.get(white);
}
input[type=file] {
   display: none;
}