@use "./config/colors";
@use "./config/mixin";

body > header {
   @include mixin.flex(column, flex-start, flex-start);
   z-index: 500;
   background-color: colors.get(white);
   height: 100px;
   width: 100%;
   border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

   a {
      color: colors.get(black);
   }
   ul {
      list-style: none;
   }
   .mainMenu {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 10px;
      transition: background-color 0.2s;
      @include mixin.mobile {
         display: none;
      }
   }
   a {
      padding: 10px;
   }
   #burgerMenu {
      @include mixin.mobile {
         display: block;
      }
      position: absolute;
      left: 20px;
      display: none;
   }
   #burgerButton {
      cursor: pointer;
      height: 40px;
      display: block;
   }

   .mainMenu:hover {
      cursor: pointer;
   }
}

nav {
   @include mixin.flex(row, center, center);
   width: 100%;
   height: 100%;

   #mainTitle {
      position: absolute;
      margin-left: 50%;
      margin-right: 50%;
      cursor: pointer;
      filter: blur(0.4px);
   }
   #mainTitle:hover svg{
      fill: colors.get(secondary);
   }
   svg {
      transition: fill 0.15s;
      fill: colors.get(black);
      height: 60px;
   }
   #burgerDropdown {
      display: none;
      position: absolute;
      top: 69px;
      left: -20px;
      width: 200px;
      background-color: colors.get(white);

      a {
         padding: 10px;
         display: inline-block;
         width: 100%;
      }
      a:hover {
         background-color: colors.get(primary3);
      }
   }
}

nav > ul {      
   @include mixin.flex(row, center, center);

   #leftMenu {
      @include mixin.flex(row, center, center);
      @include mixin.mobile {
         margin-right: 0px;
         display: none;
      }
      margin-left: 14px;
      margin-right: 120px;
   }
   #rightMenu {
      @include mixin.flex(row, center, center);
      @include mixin.mobile {
         margin-left: 0px;
         display: none;
      }
      margin-left: 120px;
   }
}
.dropdown {
   ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      display: block;
      box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.171);

      li {
         width: 200px;
         min-width: 200px;
         a {
            background-color: colors.get(white);
            display: block;
         }
         .menus {
            transition: background-color 0.2s;
         }
         .menus:hover {
            background-color: colors.get(primary);
         }
      }
   }
   &:hover {
      ul {
         visibility: visible;
         opacity: 1;
      }
   }
}