@use "modules/colors";
@use "modules/mixin";

#calendar {

   @include mixin.desktop {
      width: 80%;
      height: 650px;
   }
   width: 450px;
   .fc-button {
      padding: 5px;
      background-color: colors.get(black);
      color: colors.get(white);   
      border: none;
      outline: none;
   }
   .fc-button:hover {
      color: colors.get(black);
      background-color: colors.get(primary2);
   }
   .fc-button:active, .fc-button:focus{
      border: none;
      box-shadow: none;
   }
   .fc-toolbar-title {
      @include mixin.desktop {
         font-size: 1.4rem;
      }
      font-size: 1rem;
   }
}

#adminSection {
   @include mixin.flex(column, center, center);

   form {
      @include mixin.flex(column, center, center);
      background: colors.get(grey1);
      padding: 15px;
      margin: 30px 0px 0px 0px;
      border: colors.get(grey2) 4px solid;
   
      div {
         @include mixin.flex(column, center, center);
         margin: 0px 0px 10px 0px;
      }
   }
   #eventCreationFeedback {
      margin-top: 5px;
      font-size: 1.4rem;
   }
}
