@use "modules/colors";
@use "modules/mixin";

body {
   overflow-x: hidden;
}
section {
   @include mixin.flex(column, center, center);

   hr {
      margin: 30px 0px 30px 0px;
   }
}
article {
   @include mixin.flex(column, center, center);

   opacity: 1;
   border: colors.get(grey2) 4px solid;
   padding: 10px 20px 20px 20px;
   width: 80%;
   min-width: 800px;

   #iconsDiv {
      @include mixin.desktop {
         position: relative;
         margin: 5px 0px 5px 0px;
      };
      margin: 0px 0px 10px 0px;
      top: -40px;
      left: 47%;
   }
   .icons {
      cursor: pointer;
      width: 20px;
      margin: 0px 0px 0px 10px;
   }
   .icons:hover {
      transform: scale(1.2);
   }
   p {
      text-align: center;
   }
   .imgContainer {
      @include mixin.flex(row, center, center);
      margin: 20px 0px 0px 0px ;
      flex-wrap: wrap;
   }
   .picture {
      height: 150px;
      padding: 4px;
      margin: 10px;

      background: colors.get(grey2);
   }
   .picture:hover {
      cursor: pointer;
   }
}
article:hover {
   border: colors.get(primary2) 4px solid;
}

#adminSection {
   @include mixin.flex(column, center, center);

   form {
      @include mixin.flex(column, center, center);
      background: colors.get(grey1);
      padding: 15px;
      margin: 30px 0px 0px 0px;
      border: colors.get(grey2) 4px solid;
   
      div {
         @include mixin.flex(column, center, center);
         margin: 0px 0px 10px 0px;
      }
      input[type=text], textarea{
         outline: none;
         border: none;
      }
      textarea {
         @include mixin.desktop {
            width: 550px;
            height: 150px;
         }
         width: 400px;
         height: 250px;
         padding: 5px;
      }
   }
   #articleCreationFeedback {
      margin-top: 5px;
      font-size: 1.4rem;
   }
}
