@use "modules/config/colors";
@use "modules/config/mixin";

section {
   @include mixin.flex(column, center, center);
}

form {
   @include mixin.flex(column, center, center);

   margin-top: 20px;
   width: 250px;
   background-color: color;
   padding: 10px 15px 15px 20px;
   background: colors.get(grey1);
   border: colors.get(grey2) 1px solid;

   div {
      @include mixin.flex(column, center, center);

      margin: 10px;
      
   }
   input[type=submit] {
      cursor: pointer;
   }
}

#loginFeedback {
   margin-top: 5px;
   font-size: 1.4rem;
}