@use "modules/colors";
@use "modules/mixin";

//== NOTE : Use this inside anythign to make responsive
@include mixin.mobile {
};

::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background: colors.get(grey4);
}
::-webkit-scrollbar-thumb {
   background: colors.get(grey2);
}
::-webkit-scrollbar-thumb:hover {
   background: colors.get(primary2);
}
::-moz-selection {
   color: colors.get(black);
   background: colors.get(primary2);
}
::selection {
   color: colors.get(black);
   background: colors.get(primary2);
}

* {
   scroll-behavior: smooth;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   list-style: none;
   text-decoration: none;
   font-family: 'Sen', sans-serif;
}
.bigHr {
   opacity: 0.3;
   height: 10px;
   width: 500px;
}
h2 {
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 2rem;
}
a, a:link, a:visited {
   font-size: 1.1rem;
   transition: all 0.4s;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   color: colors.get(black);
}
.weightedText {
   font-weight: 1000;
   font-size: 1.5rem;
}
textarea {
   resize: none;
}

body {
   @include mixin.flex(column, center, center);
   position: relative;
   min-height: 100vh;

   header {
      @include mixin.flex(column, flex-start, flex-start);
      
      z-index: 500;
      background-color: colors.get(white);
      height: 100px;
      width: 100%;
      border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
   }
   main {
      @include mixin.flex(column, center, flex-start);
      animation: fadeIn 0.2s 0.3s forwards;

      @include mixin.mobile {
         width: 100%;
      }
      background-color: colors.get(white);
      opacity: 0;
      width: 80%;
      min-height: 650.5px;
      padding: 20px 20px 50px 20px;
   }
   footer {
      @include mixin.flex(column, center, center);
      animation: fadeIn 0.2s 0.3s forwards;

      opacity: 0;
      margin-top:auto; 
      width: 100%;
      height: 60px;
      background-color: colors.get(white);
      border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
   }
   footer > nav {
      ul {
         @include mixin.flex(row, center, center);
         a {
            margin: 15px;
            padding: 10px;
         }
      }
   }

   header a:hover, footer a:hover {
      background-color: colors.get(primary);
      color: colors.get(black);
   }
}

header > nav {
   @include mixin.flex(row, center, center);
   width: 100%;
   height: 100%;

   img {
      position: absolute;
      cursor: pointer;
      top: 5px;
      height: 90px;
   }
   ul {
      @include mixin.flex(row, center, center);
      margin-right: 5px;
      a{
         margin: 15px;
         padding: 10px;
      }  
      #leftMenu {
         @include mixin.flex(row, center, center);
         margin-right: 200px;
      }
      #rightMenu {
         @include mixin.flex(row, center, center);
      }
   }
}

#image {
   background-image: url("../images/vignes.jpg");
   opacity: 0.5;
   z-index: -50000;
   position: fixed;
   top: 0px;
   height: 1000px; 
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

input {
   padding: 8px;
}

.fileUpload,input[type=button], input[type=submit], button {
   cursor: pointer;
   padding: 8px;
   font-size: 1.1rem;
   
   background: colors.get(grey1);
   border: colors.get(grey3) solid 1px;
   transition: background 0.2s;
}
.fileUpload:hover, input[type=button]:hover, input[type=submit]:hover, button:hover {
   background: colors.get(primary2);
}

input[type=file] {
   display: none;
}


hr {
   margin: 10px 0px 10px 0px;
   border: none;
   background: colors.get(primary);
   width: 80%;
   height: 3px;
}

@keyframes wiggle {
   0% {transform: rotate(0deg);}
   25% {transform: rotate(-5deg);}
   50% {transform: rotate(5deg);}
   75% {transform: rotate(-5deg);}
}
@keyframes fadeIn {
   from {
      opacity: 0;
   } 
   to {
      opacity: 1;
   }
}
@keyframes fadeOut {
   from {
      opacity: 1;
   } 
   to {
      opacity: 0;
   }
}
@keyframes slideOut {
   0% {
      opacity: 1;
      transform: translateX(0px);
   }
   100% {
      opacity: 0;
      transform: translateX(3000px);
   }
}
@keyframes slideUp {
   0% {transform: translateY(0px);}
   100% {transform: translateY(-400px);}
}
