$color: #ffffff;

* {
   scroll-behavior: smooth;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   list-style: none;
   text-decoration: none;
}

body {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   justify-items: center;
   align-items: center;

   h1 {
      margin: 15px;
      grid-column: 1 /span 12;
      background: rgb(138, 194, 138);
      padding: 10px;
   }

   nav {
      grid-column: 1 /span 12;
      ul {
         display: flex;
         align-items: center;

         li {
            margin: 0px 15px 0px 15px;
         }
      }

   }
}
